.flash-message,.flash-success{
    position: fixed;
    width: 100%;
    top:60px;
    height: 60px;
    background: rgba(0,0,0,0.65);
    display: flex;
    align-items: center;
    padding-left: 70px;
    color: #fff;
}
.flash-success{
    background: rgba(0,0,0,0.65) url('../assets/images/icon_success.png') 10px 50% no-repeat; 
    background-size:40px; 
}
.flash-message .del-button{
    padding: 20px;
    font-size: 1.6em;
    flex-grow:1;
    text-align: right;
    cursor: pointer;
}
.flash-message svg{
    opacity: 0.6;
}
.flash-message svg:hover{
    opacity: 1;
}