.caseControls{
    position: fixed;
    bottom:0px;
    right:0px;
    min-width: 270px;
    display: flex;
}
.caseControls div{
    margin: 10px;
    margin-right:0;
    flex-grow: 1;
    padding:12px;
    border:2px solid #5572C0;
    color: #5572C0;
    border-radius: 5px;
    background: #E5E6F1;
    text-align: center;
    cursor: pointer;
}
.caseControls div:last-child{
    margin-right: 10px;
    background: #5572C0;
    color: #fff;
}
.caseControls div:hover{
    opacity: 0.8;
}
@media screen and (max-width: 800px){
     .caseControls{
        bottom:10px;
        right: 20px;
     }
}